!!! 5
html
    head
        title #{status} #{msg}
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 #{status} Error
        p= msg
        p Try refreshing the page, if this problem persists then we're already working on it!